In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
np.set_printoptions(precision=4, suppress=True)
np.random.seed(12345)
previous_max_rows = pd.options.display.max_rows
pd.options.display.max_rows = 20
pd.options.display.max_columns= 20
pd.options.display.max_colwidth = 80
plt.rc("figure", figsize=(10, 6))

In [5]:
obj= pd.Series([4, 7, -5, 3])
obj
obj.index
obj.values

0    4
1    7
2   -5
3    3
dtype: int64

RangeIndex(start=0, stop=4, step=1)

array([ 4,  7, -5,  3])

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2.index
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']]
obj2[obj2 > 0]
obj2 * 2
np.exp(obj2)
'b' in obj2
'e' in obj2

d    4
b    7
a   -5
c    3
dtype: int64

Index(['d', 'b', 'a', 'c'], dtype='object')

np.int64(-5)

c    3
a   -5
d    6
dtype: int64

d    6
b    7
c    3
dtype: int64

d    12
b    14
a   -10
c     6
dtype: int64

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

True

False

In [7]:
obj2.array

<NumpyExtensionArray>
[np.int64(6), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [ ]:
sdata= {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
sdata
obj3= pd.Series(sdata)
obj3
obj3.index
obj3.to_dict()
states= ['California', 'Ohio', 'Oregon', 'Texas']
obj4= pd.Series(sdata, index=states)
obj4
pd.isnull(obj4)
pd.notnull(obj4)
obj4.isnull()
obj3
type(obj3)
obj4
obj3 + obj4 #automatically aligns by index label in arithmetic operations

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

pandas.core.series.Series

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [12]:
obj4.name= 'population'
obj4.index.name= 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [13]:
obj4.name

'population'